@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Medium.ttf) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/lexend-deca/LexendDeca-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #13131F;
}

.maxWidth {
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline: 0;
  font: 500 1.6rem "Inter";
  color: #FEFBEB;
}

ul {
  list-style: none;
}

h1 {
  font: 400 4.8rem "Lexend Deca";
  color: #FEFBEB;
}

h2 {
  font: 500 2rem "Inter";
  color: #C4C4C4;
}

h3 {
  font: 400 2.4rem "Lexend Deca";
  color: #FEFBEB;
}

h4 {
  font: 400 1.3rem "Lexend Deca";
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

p {
  color: #FEFBEB;
  font-family: "Lexend Deca";
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Medium.ttf) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/lexend-deca/LexendDeca-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
#nw1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/luta.svg");
}

#nw2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/fogo.svg");
}

#nw3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/lol.svg");
}

#nw4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/naruto.svg");
}

#nw5 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/detpool.svg");
}

#nw6 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/minecraft.svg");
}

#nw7 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/harrypotter.svg");
}

#nw8 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/sobrenatural.svg");
}

#nw9 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/chihiro.svg");
}

#nw10 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/filme.svg");
}

#nw11 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/good.svg");
}

#nw12 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/vento.svg");
}

#nw13 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/gta5.svg");
}

#nw14 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/vikings.svg");
}

#nw15 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/disney.svg");
}

#nw16 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/youname.svg");
}

#nw17 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/lol2.svg");
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Medium.ttf) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/lexend-deca/LexendDeca-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
#logo {
  font: 400 2.4rem "Lexend Deca";
  color: #8557E6;
}

nav {
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-list {
  display: flex;
  align-items: center;
}
nav .nav-list a {
  position: relative;
  margin: 0 3rem;
}
nav .nav-list a:hover {
  color: #45588080;
}
nav .nav-list a:hover::after {
  color: #45588080;
  width: 100%;
}
nav .nav-list a::after {
  content: "";
  position: absolute;
  background-color: #8557E6;
  height: 0.1rem;
  width: 0;
  left: 0;
  bottom: -0.8rem;
  transition: 0.3s ease-in;
}
nav button {
  border: 0.1rem solid #8557E6;
  font: 400 1.4rem "Lexend Deca";
  color: #FEFBEB;
  background-color: #8557E6;
  color: #FEFBEB;
  border-radius: 0.3rem;
  background: transparent;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
}

#main-container {
  display: flex;
  flex-direction: column;
}
#main-container .text {
  width: 41%;
  padding: 11.5rem 0;
}
#main-container .text h2 {
  margin-top: 1.1rem;
}

#cont1 {
  height: 35rem;
}

.container-news {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
.container-news .rigth-news {
  width: 68%;
}
.container-news .rigth-news .btn-new1 {
  background-color: #8557E6;
  color: #FEFBEB;
  border-radius: 0.3rem;
  padding: 0.45rem 2.02rem;
  font-size: 1.4rem;
}
.container-news .rigth-news #nw1 {
  height: 100%;
  padding: 1.7rem 3rem;
}
.container-news .rigth-news #nw1 p {
  font-size: 2.4rem;
}
.container-news .left-news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28.2%;
}
.container-news .left-news p {
  font-size: 1.3rem;
}
.container-news .left-news .box-left {
  height: 16.5rem;
  padding: 1rem;
}
.container-news .left-news .box-left .btn-new2 {
  background-color: #8557E6;
  color: #FEFBEB;
  border-radius: 0.3rem;
  padding: 0.35rem 1.8rem;
  font-size: 1.2rem;
}
.container-news .new-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-scroll {
  height: 89.4rem;
  overflow-y: scroll;
}
.news-scroll::-webkit-scrollbar {
  width: 0.8rem;
  border: 0.1rem solid #282830;
}
.news-scroll::-webkit-scrollbar-thumb {
  background-color: #8557E6;
}
.news-scroll .box-scroll {
  width: 87%;
  margin-bottom: 3.5rem;
}
.news-scroll .box-scroll-infos {
  display: flex;
  justify-content: space-between;
  height: 15.1rem;
}
.news-scroll .box-scroll-infos-img {
  width: 45%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/nw2.svg");
}
.news-scroll .box-scroll-infos-texts {
  padding: 1rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-scroll h4 {
  font: 400 1.3rem "Lexend Deca";
  color: #FEFBEB;
  line-height: 2rem;
}
.news-scroll p {
  font: 400 1.1rem "Inter";
  color: #C4C4C4;
}
.news-scroll span {
  font: 600 1rem "Inter";
  color: #C4C4C4;
}
.news-scroll button {
  background-color: #8557E6;
  color: #FEFBEB;
  border-radius: 0.3rem;
  padding: 0.35rem 1.8rem;
  font-size: 1.2rem;
}

.box-left-scroll {
  height: 25rem;
  padding: 1rem;
}
.box-left-scroll .btn-new2 {
  background-color: #8557E6;
  color: #FEFBEB;
  border-radius: 0.3rem;
  padding: 0.35rem 1.8rem;
  font-size: 1.2rem;
}

#h1-scroll-left {
  font: 400 2.4rem "Lexend Deca";
  border-bottom: 0.3rem solid #8557E6;
  padding-bottom: 1.3rem;
}

.recent-news {
  display: flex;
  flex-direction: column;
}
.recent-news h1 {
  width: 30rem;
  margin-bottom: 2.5rem;
}
.recent-news-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recent-news-box-info {
  width: 28%;
  margin-bottom: 4.1rem;
}
.recent-news-box-info p {
  font: 400 1.3rem "Lexend Deca";
}

#main-footer {
  width: 34%;
  text-align: center;
  padding: 2.4rem 0;
}
#main-footer p {
  font: 500 1.6rem "Inter";
  color: #C4C4C4;
  padding: 1.6rem 0;
}

.container-new-info-title {
  width: 90%;
}
.container-new-info-title h1 {
  font: 400 3.6rem "Lexend Deca";
}
.container-new-info-title h2 {
  padding: 1.2rem 0;
  font: 500 2.4rem "Inter";
}

.btn-new1 {
  background-color: #8557E6;
  color: #FEFBEB;
  border-radius: 0.3rem;
  padding: 0.45rem 2.02rem;
  font-size: 1.4rem;
}

#nw1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/luta.svg");
}

.container-new-info-box-bg {
  max-width: 100%;
  height: 62.7rem;
  padding: 2rem;
}

.container-new {
  padding: 9.5rem 0;
}

.container-new-info-box-p p {
  font: 400 2.4rem "Inter";
  padding: 2.15rem 0;
}

.main-container-error {
  display: flex;
  flex-direction: column;
}
.main-container-error span {
  position: relative;
  margin: 0 3rem;
  font-size: 2rem;
  /* fundo gradiente */
  background-image: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 85.42%);
  /* agora colocamos o fundo gradiente dentro do texto com essa propriedade */
  background-clip: text;
  -webkit-background-clip: text;
  /* a cor do texto deve estar como transparent */
  color: transparent;
}
.main-container-error ul {
  list-style: none;
}
.main-container-error h1 {
  font: 400 4.8rem "Lexend Deca";
  color: #FEFBEB;
}
.main-container-error h2 {
  font: 500 2rem "Inter";
  color: #C4C4C4;
}
.main-container-error h3 {
  font: 400 2.4rem "Lexend Deca";
  color: #FEFBEB;
}
.main-container-error h4 {
  font: 400 1.3rem "Lexend Deca";
}
.main-container-error button {
  cursor: pointer;
  border: none;
  background: transparent;
}
.main-container-error p {
  color: #C4C4C4;
  font-family: "Lexend Deca";
  font-size: 2rem;
}

.box-error {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: space-between;
}
.box-error-text {
  width: 35%;
}
.box-error-text h1 {
  font-size: 4.8rem;
  line-height: 6rem;
  color: #FEFBEB;
}
.box-error-text p {
  margin-top: 1.7rem;
  line-height: 3.4rem;
}
.box-error-img {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.box-error-img p {
  text-align: center;
  margin-top: 5rem;
}
.box-error button {
  padding: 1.16rem 2.5rem;
  background-color: #8557E6;
  color: #FEFBEB;
  margin-top: 4.1rem;
  font-size: 1.8rem;
}

/*# sourceMappingURL=styles.css.map */
