@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Medium.ttf) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/lexend-deca/LexendDeca-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #13131F;
}

.maxWidth {
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline: 0;
  font: 500 1.6rem "Inter";
  color: #FEFBEB;
}

ul {
  list-style: none;
}

h1 {
  font: 400 4.8rem 6rem "Lexend Deca";
  color: #FEFBEB;
}

h2 {
  font: 500 2rem "Inter";
  color: #C4C4C4;
}

h3 {
  font: 400 2.4rem "Lexend Deca";
  color: #FEFBEB;
}

h4 {
  font: 400 1.3rem "Lexend Deca";
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

p {
  color: #FEFBEB;
  font-family: "Lexend Deca";
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter/Inter-Medium.ttf) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/lexend-deca/LexendDeca-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
nav {
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-list {
  display: flex;
  align-items: center;
}
nav .nav-list a {
  position: relative;
  margin: 0 3rem;
}
nav .nav-list a:hover {
  color: #45588080;
}
nav .nav-list a:hover::after {
  color: #45588080;
  width: 100%;
}
nav .nav-list a::after {
  content: "";
  position: absolute;
  background-color: #8557E6;
  height: 0.1rem;
  width: 0;
  left: 0;
  bottom: -0.8rem;
  transition: 0.3s ease-in;
}
nav #logo {
  font: 400 2.4rem "Lexend Deca";
  color: #8557E6;
}
nav button {
  background-color: transparent;
  border: 0.1rem solid #8557E6;
  border-radius: 10rem;
  font: 400 1.4rem "Lexend Deca";
  color: #FEFBEB;
}

#main-container {
  background-color: turquoise;
  display: flex;
  flex-direction: column;
}

.container-news {
  background-color: violet;
  height: 35rem;
  display: flex;
  justify-content: space-between;
}
.container-news .rigth-news {
  width: 68%;
}
.container-news .rigth-news .btn-new1 {
  background-color: #8557E6;
  color: #FEFBEB;
  border-radius: 0.3rem;
  padding: 0.45rem 2.02rem;
  font-size: 1.4rem;
}
.container-news .rigth-news #nw1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/img.svg");
  height: 100%;
  padding: 1.7rem 3rem;
}
.container-news .rigth-news #nw1 p {
  font-size: 2.4rem;
}
.container-news .left-news {
  width: 30%;
}
.container-news .left-news p {
  font-size: 1.3rem;
}
.container-news .left-news .box-left {
  height: 16.5rem;
  padding: 1rem;
}
.container-news .left-news .box-left .btn-new2 {
  background-color: #8557E6;
  color: #FEFBEB;
  border-radius: 0.3rem;
  padding: 0.35rem 1.8rem;
  font-size: 1.2rem;
}
.container-news .left-news #nw2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/nw2.svg");
}
.container-news .left-news #nw3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url("../img/img.svg");
  margin-top: 2rem;
}
.container-news .new-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*# sourceMappingURL=styles.css.map */
