.container-search {
  @include flex-column;
  &-bg {
    @include flex-column-center;

    margin-top: 9.6rem;

    width: 100%;
    height: 30rem;

    p {
      margin-top: 1.5rem;
      color: $grey-ligth;
    }
    &-text {
      padding: 8.3rem 0;
      p {
        width: 53%;
      }
    }
  }
}
.search {
  @include flex;
  margin-top: 4.2rem;
  background: #282830;
  width: 100%;
  padding: 0 1.7rem;
}
input {
  width: 100%;
  height: 6rem;
  border: none;
  background: #282830;
  font-size: 2rem;
  color: $grey-ligth;
  border: 0;
  outline: none;
}
.recent-news {
  margin-top: 10rem;
}
