@import "header";

#main-container {
  @include flex-column;

  .text {
    width: 41%;
    padding: 11.5rem 0;

    h2 {
      margin-top: 1.1rem;
    }
  }
}

.container-news {
  margin-bottom: 5rem;
  @include flex-between;

  .rigth-news {
    width: 68%;

    .btn-new1 {
      @include buttons(nw1);
    }
    #nw1 {
      height: 100%;
      padding: 1.7rem 3rem;
  
    }
  }
  .left-news {
    @include flex-column-between;
  
    .box-left {
      height: 16.5rem;
      padding: 1rem;

      .btn-new2 {
        @include buttons(nw2);
      }
    }
    width: 28.2%;
  }

  .new-box {
    @include flex-column-between;
  }
}

.news-scroll {
  height: 89.4rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.8rem;
    border: 0.1rem solid #282830;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
  }

  .box-scroll {
    width: 87%;
    margin-bottom: 3.5rem;

    &-infos {
      @include flex-between;
      height: 15.1rem;

      &-img {
        width: 45%;
        @include background(nw2);
      }

      &-texts {
        padding: 1rem 1.8rem;
        @include flex-column-between;
      }
    }
  }

  button {
    @include buttons(nw2);
  }
}

.box-left-scroll {
  height: 25rem;
  padding: 1rem;

  .btn-new2 {
    @include buttons(nw2);
  }
}

#h1-scroll-left {
  font: 400 2.4rem "Lexend Deca";
  border-bottom: 0.3rem solid $color-primary;
  padding-bottom: 1.3rem;
}
