
#nw1 {
    @include background(luta);

  }
  #nw2 {
    @include background(fogo);
  }
  #nw3 {
    @include background(lol);
  }
  #nw4{
    @include background(naruto);
  }
  #nw5 {
    @include background(detpool);
  }
  #nw6 {
    @include background(minecraft);
  }#nw7{
    @include background(harrypotter);
  }#nw8{
    @include background(sobrenatural);
  }#nw9{
    @include background(chihiro);
  }#nw10 {
    @include background(filme);
  }#nw11 {
    @include background(good);
  }#nw12 {
    @include background(vento);
  }#nw13 {
    @include background(gta5);
  }#nw14 {
    @include background(vikings);
  }#nw15 {
    @include background(disney);
  }#nw16{
    @include background(youname);
  }
  #nw17{
    @include background(lol2);
  }