.container-new-info-title {
  width: 90%;

  h2 {
    padding: 1.2rem 0;
  }
}
.btn-new1 {
  @include buttons(nw1);
}
#nw1 {
  @include background(luta);
}
.container-new {
  padding: 9.5rem 0;
 
  &-info-box {
    &-bg {
      max-width: 100%;
      height: 62.7rem;
      padding: 2rem;
    }
    &-p {
      p {
        padding: 2.15rem 0;
      }
    }
  }
}
