@import 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: $black;
}
.maxWidth {
    max-width: 120rem;
    margin: 0 auto;

    // align-items: center;
}

a {
    text-decoration: none;
    outline: 0;
    font: 500 1.6rem 'Inter';
    color: $white;
}

ul {
    list-style: none;
}

h1 {
   font: 400 4.8rem 'Lexend Deca';
   color: $white;
}
h2 {
    font: 500 2rem 'Inter'; 
    color: $grey-ligth;
}
h3 {
    font: 400 2.4rem 'Lexend Deca';
    color: $white;
}
h4 {
    font:  400 1.3rem  'Lexend Deca';
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}
p {
    color: $white;
    font-family: 'Lexend Deca';
}