@import 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html {
    background-color: $black;
    font-size: 62.5%;
    color: $white;
}
.maxWidth {
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    outline: 0;
    color: $white;
  
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

.p-news {
    &-scroll {
        
    }
}
.f1 {
    font-size: $f1;
}

.f2 {
    font-size: $f2;
}
.f3 {
    font-size: $f3;
}
.f4 {
    font-size: $f4;
}
.f5 {
    font-size: $f5;
}
.f6 {
    font-size: $f6;
}
.f7 {
    font-size: $f7;
}